---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Artrageous</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/artrageous" class="tag w-button">
                        Branding
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/artrageous" class="tag w-button">
                        Events
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/artrageous" class="tag w-button">
                        Print
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Event branding for annual themed contemporary art gala,
                  artRageous.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/mpd-card-artrageous-mona-2.jpg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-artrageous-save-the-date-2.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-artrageous-save-the-date-2-p-500.jpg   500w,
              /assets/images/mpd-artrageous-save-the-date-2-p-800.jpg   800w,
              /assets/images/mpd-artrageous-save-the-date-2-p-1080.jpg 1080w,
              /assets/images/mpd-artrageous-save-the-date-2.jpg        1280w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-mockup-8.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-mockup-8-p-500.png   500w,
              /assets/images/amst-mockup-8-p-800.png   800w,
              /assets/images/amst-mockup-8-p-1080.png 1080w,
              /assets/images/amst-mockup-8.png        1200w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-poster-artrageous-deiz-anos.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-poster-artrageous-deiz-anos-p-500.jpg   500w,
              /assets/images/mpd-poster-artrageous-deiz-anos-p-800.jpg   800w,
              /assets/images/mpd-poster-artrageous-deiz-anos-p-1080.jpg 1080w,
              /assets/images/mpd-poster-artrageous-deiz-anos-p-1600.jpg 1600w,
              /assets/images/mpd-poster-artrageous-deiz-anos.jpg        1626w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/party1.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/party1-p-500.png   500w,
              /assets/images/party1-p-800.png   800w,
              /assets/images/party1-p-1080.png 1080w,
              /assets/images/party1.png        1600w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-mockup-9.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-mockup-9-p-500.png   500w,
              /assets/images/amst-mockup-9-p-800.png   800w,
              /assets/images/amst-mockup-9-p-1080.png 1080w,
              /assets/images/amst-mockup-9.png        1400w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
