---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">AMST Quarterly</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/amst-q4" class="tag w-button">
                        Editorial
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Quarterly member newsletter for Art Museum of South Texas
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/mpd-amst-booklet-00-30-55-384.jpeg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-amst-booklet-4.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-amst-booklet-4-p-500.jpeg   500w,
              /assets/images/mpd-amst-booklet-4-p-800.jpeg   800w,
              /assets/images/mpd-amst-booklet-4-p-1080.jpeg 1080w,
              /assets/images/mpd-amst-booklet-4.jpeg        1454w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-q3-mockup-2.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-q3-mockup-2-p-500.png   500w,
              /assets/images/amst-q3-mockup-2-p-800.png   800w,
              /assets/images/amst-q3-mockup-2-p-1080.png 1080w,
              /assets/images/amst-q3-mockup-2.png        1320w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-q3-mockup-4.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-q3-mockup-4-p-500.png   500w,
              /assets/images/amst-q3-mockup-4-p-800.png   800w,
              /assets/images/amst-q3-mockup-4-p-1080.png 1080w,
              /assets/images/amst-q3-mockup-4-p-1600.png 1600w,
              /assets/images/amst-q3-mockup-4.png        1800w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
