---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">DFM</h4>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="tag-2 w-button"
                  >
                    Personal/School Projects
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/dfm" class="tag w-button">
                        Branding
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/dfm" class="tag w-button">Logo</a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/dfm" class="tag w-button">
                        Events
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Experimental logo &amp; brand identity redesign concept for
                  Dallas Farmer&#x27;s Market.
                </p>
                <p class="paragraph-18">
                  The brief for this assignment was to create a branding design
                  for a currently existing brand. I was assigned the Dallas
                  Farmer’s Market, a very large open-air and indoor market in
                  Dallas, TX. The assignment was designed as such that the logo
                  was the crux of the project, completed first, after researching
                  the brand. I chose to design the new logo based on a melding of
                  a piece of fruit and the beloved Reunion Tower that graces the
                  Dallas skyline. I also designed a supporting color palette and
                  typography system, as well as some surface patterns and graphic
                  treatments. Other designed elements include: social media
                  graphics, promotional campaign images, swag and apparel.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/screen-shot-2022-12-18-at-3.16.16-pm.png);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.14.53-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.14.53-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.14.53-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.14.53-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.14.53-pm.png        1180w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.15.09-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.15.09-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.15.09-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.15.09-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.15.09-pm.png        1180w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.15.24-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.15.24-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.15.24-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.15.24-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.15.24-pm.png        1180w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.15.50-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.15.50-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.15.50-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.15.50-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.15.50-pm.png        1180w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.16.03-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.16.03-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.16.03-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.16.03-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.16.03-pm.png        1180w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
