---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Frocks</h4>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="tag-2 w-button"
                  >
                    Personal/School Projects
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/frocks" class="tag w-button">
                        Logo
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/frocks" class="tag w-button">
                        Branding
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/frocks" class="tag w-button">
                        Events
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/frocks" class="tag w-button">
                        Featured
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Experimental logo &amp; brand identity concept for a
                  hypothetical boutique alterations shop.
                </p>
                <p class="paragraph-18">
                  This branding project invited us to design a brand as well as a
                  business idea. The brief of the project included a prescribed
                  process that began with a logo design arisen from some various
                  creative prompts. We then chose one resulting idea to develop
                  the idea for a business that would suit it, and then fleshed out
                  a full brand for the concept. After the initial improvisational
                  stage, I ended up with an icon made from a butterfly and a pair
                  of scissors. I decided to imagine a contemporary boutique
                  tailoring shop for women’s clothing and called it Frocks
                  Tailoring Shop. We developed a mood board and aesthetic tone,
                  along with a color pallette and typographic system, and a series
                  of application concepts: a business card, environmental signage
                  and print pieces, social media imagery, and packaging design.
                  The result is a brand that feels like a refreshed, contemporary
                  boudoir scene, that is romantic and experiential and welcoming,
                  a bit like visiting might feel like stopping into a secret
                  clubhouse.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/frocks7.png);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.10.07-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.10.07-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.10.07-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.10.07-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.10.07-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-18-at-3.10.07-pm.png        1886w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.10.53-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.10.53-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.10.53-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.10.53-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.10.53-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-18-at-3.10.53-pm.png        1886w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2023-01-02-at-9.40.16-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2023-01-02-at-9.40.16-pm-p-500.png   500w,
              /assets/images/screen-shot-2023-01-02-at-9.40.16-pm-p-800.png   800w,
              /assets/images/screen-shot-2023-01-02-at-9.40.16-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2023-01-02-at-9.40.16-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2023-01-02-at-9.40.16-pm.png        1922w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/frocks1.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/frocks1-p-500.jpg   500w,
              /assets/images/frocks1-p-800.jpg   800w,
              /assets/images/frocks1-p-1080.jpg 1080w,
              /assets/images/frocks1-p-1600.jpg 1600w,
              /assets/images/frocks1-p-2000.jpg 2000w,
              /assets/images/frocks1.jpg        2260w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-18-at-3.11.18-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-18-at-3.11.18-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-18-at-3.11.18-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-18-at-3.11.18-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-18-at-3.11.18-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-18-at-3.11.18-pm.png        1886w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/frocks8.jpg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/frocks8-p-500.jpg   500w,
              /assets/images/frocks8-p-800.jpg   800w,
              /assets/images/frocks8-p-1080.jpg 1080w,
              /assets/images/frocks8-p-1600.jpg 1600w,
              /assets/images/frocks8-p-2000.jpg 2000w,
              /assets/images/frocks8.jpg        2260w
            "
            class="image-38"
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
