---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">The Grateful Ghost</h4>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="tag-2 w-button"
                  >
                    Personal/School Projects
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/the-grateful-ghost"
                        class="tag w-button"
                      >
                        Illustration
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/the-grateful-ghost"
                        class="tag w-button"
                      >
                        Motion Graphics
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  1-minute otherworldly ‘animatic’ inspired by a Korean parable.
                </p>
                <p class="paragraph-18">
                  This project called for a short ‘animatic’ based on a
                  pre-written story. There were three stories available to select
                  from, and I chose an ancient Chinese parable called “The
                  Grateful Ghost.” We were to reinterpret the story as a
                  one-minute animated narrative visual sequence. I liked the
                  parable, so the resulting piece came about with some level of
                  relative ease. The story itself is about three paragraphs long,
                  concise, but the one-minute timeline was only enough to capture
                  a mood and communicate the essentials of the story. I whittled
                  down and reimagined the details of the story, and was remained
                  was a brief glimpse of a mystical life in a mystical but
                  familiar time and place, a night in the life of a figure that
                  heals what we leave unresolved. I wanted to intrigue the viewer
                  but allow room for their own impressions. Prior to this
                  semester, I spent some time over Christmas break experimenting
                  with marbling using spraypaint. At the time, there was no
                  intended purpose or project for the medium, but it produced some
                  lovely and wild surface patterns. I scanned about two dozen
                  papers I’d dipped in varying colors and set them aside (Fig. 3).
                  As I developed the storyboard for my animatic, it occured to me
                  that the marbled papers could be effective in communicating the
                  mysterious otherworldliness I was hoping to achieve. I sketched
                  out the essential shapes of each frame and then treated the
                  papers like a digital collage, layering them on top of each
                  other using Photoshop and animating the sequence using
                  AfterEffects, which I had never engaged with previously. This
                  was my first experience creating an animated graphic narrative
                  piece.
                </p>
                <h6 class="heading-123">What I did:</h6>
                <p class="paragraph-17">
                  Concept, Animation, Illustration, Editing
                </p>
              </div>
            </div>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="w-inline-block"
            >
              <h6 class="heading-121">Watch The Video</h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/tree.jpg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/13-1.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/13-1-p-500.png   500w,
              /assets/images/13-1-p-800.png   800w,
              /assets/images/13-1-p-1080.png 1080w,
              /assets/images/13-1-p-1600.png 1600w,
              /assets/images/13-1.png        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/6-full.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/6-full-p-500.jpg   500w,
              /assets/images/6-full-p-800.jpg   800w,
              /assets/images/6-full-p-1080.jpg 1080w,
              /assets/images/6-full-p-1600.jpg 1600w,
              /assets/images/6-full.jpg        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/8-4.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/8-4-p-500.png   500w,
              /assets/images/8-4-p-800.png   800w,
              /assets/images/8-4-p-1080.png 1080w,
              /assets/images/8-4-p-1600.png 1600w,
              /assets/images/8-4.png        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/15-1.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/15-1-p-500.jpg   500w,
              /assets/images/15-1-p-800.jpg   800w,
              /assets/images/15-1-p-1080.jpg 1080w,
              /assets/images/15-1-p-1600.jpg 1600w,
              /assets/images/15-1.jpg        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/14-4.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/14-4-p-500.jpg   500w,
              /assets/images/14-4-p-800.jpg   800w,
              /assets/images/14-4-p-1080.jpg 1080w,
              /assets/images/14-4-p-1600.jpg 1600w,
              /assets/images/14-4.jpg        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/slide-skulls-working.jpg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/slide-skulls-working-p-500.jpg   500w,
              /assets/images/slide-skulls-working-p-800.jpg   800w,
              /assets/images/slide-skulls-working-p-1080.jpg 1080w,
              /assets/images/slide-skulls-working-p-1600.jpg 1600w,
              /assets/images/slide-skulls-working.jpg        1920w
            "
            class="image-38"
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-05-24-at-3.15.44-pm.png"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/screen-shot-2022-05-24-at-3.15.44-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-05-24-at-3.15.44-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-05-24-at-3.15.44-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-05-24-at-3.15.44-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-05-24-at-3.15.44-pm-p-2000.png 2000w,
              /assets/images/screen-shot-2022-05-24-at-3.15.44-pm.png        2024w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-05-24-at-3.15.23-pm.png"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/screen-shot-2022-05-24-at-3.15.23-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-05-24-at-3.15.23-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-05-24-at-3.15.23-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-05-24-at-3.15.23-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-05-24-at-3.15.23-pm-p-2000.png 2000w,
              /assets/images/screen-shot-2022-05-24-at-3.15.23-pm.png        2246w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-05-24-at-3.15.15-pm.png"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/screen-shot-2022-05-24-at-3.15.15-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-05-24-at-3.15.15-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-05-24-at-3.15.15-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-05-24-at-3.15.15-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-05-24-at-3.15.15-pm-p-2000.png 2000w,
              /assets/images/screen-shot-2022-05-24-at-3.15.15-pm.png        2246w
            "
          />
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
