---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Viewing Bench</h4>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="tag-2 w-button"
                  >
                    Personal/School Projects
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/bench" class="tag w-button">
                        Environmental
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/bench" class="tag w-button">3D</a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Bench concept developed for a furniture design project.
                </p>
                <p class="paragraph-18">
                  Viewing Bench is the result of a “hypothetical collaboration”
                  between myself and the late Italian design master, Gae Aulenti
                  (1927-2012). For the project, I was tasked to design a seat for
                  an interior space that would meld principles of our respective
                  design practices while expressing the qualities of two
                  adjectives selected from a list: sensual and stolid. The
                  exploration resulted in a sculptural bench made of concrete,
                  wood and brass for one, a couple, or a few to take in the views
                  offered at the new Drawing Annex of the Menil Museum of Art in
                  Houston, TX. The design evolved through a series of in-class
                  sprints with class feedback and the study of a number of
                  renderings and prototypes, but maintained the same general shape
                  developed in the first day of experimentation. The piece quickly
                  took on a large scale, inspired by Aulenti’s many massive public
                  architectural projects, and do was downsized and adjusted to
                  suit the scope, timeline and budget of the project. The final
                  design is constructed by building a form to pour concrete around
                  a wooden seat, secured using PVC and re-bar. The seat is made of
                  two stacked and glued 3/4” pieces of plywood with two 3/4” holes
                  drilled vertically for PVC to slide through to anchor the seat
                  to the concrete. The inner mechanisms are exposed through a gap
                  in the bulk of the form, where the PVC is cut, re-bar is slotted
                  through and capped with a brass cover. The weight of the
                  concrete should create a cantilever strong enough to support a
                  few bodies.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/bench1.png);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/bench2.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/bench2-p-500.png   500w,
              /assets/images/bench2-p-800.png   800w,
              /assets/images/bench2-p-1080.png 1080w,
              /assets/images/bench2-p-1600.png 1600w,
              /assets/images/bench2.png        1634w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/bench3.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/bench3-p-500.png   500w,
              /assets/images/bench3-p-800.png   800w,
              /assets/images/bench3-p-1080.png 1080w,
              /assets/images/bench3-p-1600.png 1600w,
              /assets/images/bench3.png        1634w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/bench4.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/bench4-p-500.png   500w,
              /assets/images/bench4-p-800.png   800w,
              /assets/images/bench4-p-1080.png 1080w,
              /assets/images/bench4-p-1600.png 1600w,
              /assets/images/bench4.png        1634w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/bench5.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/bench5-p-500.png   500w,
              /assets/images/bench5-p-800.png   800w,
              /assets/images/bench5-p-1080.png 1080w,
              /assets/images/bench5-p-1600.png 1600w,
              /assets/images/bench5.png        1634w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-3.01.10-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-3.01.10-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-3.01.10-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-3.01.10-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-3.01.10-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-3.01.10-pm.png        1742w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
