---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">
                    Corpus Christi Symphony Orchestra
                  </h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="tag w-button"
                      >
                        Editorial
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="tag w-button"
                      >
                        Events
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="tag w-button"
                      >
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="tag w-button"
                      >
                        Website
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="tag w-button"
                      >
                        Environmental
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="tag w-button"
                      >
                        Featured
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Design partnership with Corpus Christi Symphony Orchestra,
                  2014-2020. Featured season: See It Live! (2018-2019).
                </p>
                <p class="paragraph-18">
                  One of my most productive engagements as an independent graphic
                  designer was for the Corpus Christi Symphony Orchestra, a
                  well-established non-profit that has been bringing world-class
                  music to South Texas since 1946. I worked with the CCSO for four
                  seasons and was given the opportunity to develop the entire
                  branding scheme for three of the seasons alongside the CCSO
                  staff and board of directors. I provided the Symphony with a
                  robust website, annual season brochure, mailers, signage,
                  advertising, digital graphics and more. Above and on the
                  following page: the 2019- 2020 Season, See It Live!, was
                  designed to appeal to a younger generation of potential
                  Symphony- goers, drawing from rock n’ roll posters and a
                  fresher, edgier feeling.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/mpd-ccso-see-it-live-05.jpeg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-ccso-see-it-live-04.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-ccso-see-it-live-04-p-500.jpeg   500w,
              /assets/images/mpd-ccso-see-it-live-04-p-800.jpeg   800w,
              /assets/images/mpd-ccso-see-it-live-04-p-1080.jpeg 1080w,
              /assets/images/mpd-ccso-see-it-live-04-p-1600.jpeg 1600w,
              /assets/images/mpd-ccso-see-it-live-04.jpeg        1800w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-ccso-see-it-live-01.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-ccso-see-it-live-01-p-500.jpeg   500w,
              /assets/images/mpd-ccso-see-it-live-01-p-800.jpeg   800w,
              /assets/images/mpd-ccso-see-it-live-01-p-1080.jpeg 1080w,
              /assets/images/mpd-ccso-see-it-live-01-p-1600.jpeg 1600w,
              /assets/images/mpd-ccso-see-it-live-01.jpeg        1800w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-ccso-see-it-live-02.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-ccso-see-it-live-02-p-500.jpeg   500w,
              /assets/images/mpd-ccso-see-it-live-02-p-800.jpeg   800w,
              /assets/images/mpd-ccso-see-it-live-02-p-1080.jpeg 1080w,
              /assets/images/mpd-ccso-see-it-live-02-p-1600.jpeg 1600w,
              /assets/images/mpd-ccso-see-it-live-02.jpeg        1800w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-ccso-see-it-live-03.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-ccso-see-it-live-03-p-500.jpeg   500w,
              /assets/images/mpd-ccso-see-it-live-03-p-800.jpeg   800w,
              /assets/images/mpd-ccso-see-it-live-03-p-1080.jpeg 1080w,
              /assets/images/mpd-ccso-see-it-live-03-p-1600.jpeg 1600w,
              /assets/images/mpd-ccso-see-it-live-03.jpeg        1800w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/app-ccso-3.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/app-ccso-3-p-500.jpg   500w,
              /assets/images/app-ccso-3-p-800.jpg   800w,
              /assets/images/app-ccso-3-p-1080.jpg 1080w,
              /assets/images/app-ccso-3-p-1600.jpg 1600w,
              /assets/images/app-ccso-3-p-2000.jpg 2000w,
              /assets/images/app-ccso-3-p-2600.jpg 2600w,
              /assets/images/app-ccso-3-p-3200.jpg 3200w,
              /assets/images/app-ccso-3.jpg        3970w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/app-ccso-2.jpg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/app-ccso-2-p-500.jpg   500w,
              /assets/images/app-ccso-2-p-800.jpg   800w,
              /assets/images/app-ccso-2-p-1080.jpg 1080w,
              /assets/images/app-ccso-2-p-1600.jpg 1600w,
              /assets/images/app-ccso-2-p-2000.jpg 2000w,
              /assets/images/app-ccso-2-p-2600.jpg 2600w,
              /assets/images/app-ccso-2-p-3200.jpg 3200w,
              /assets/images/app-ccso-2.jpg        3500w
            "
            class="image-38"
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-ccso-web-2.jpeg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/mpd-ccso-web-2-p-500.jpeg   500w,
              /assets/images/mpd-ccso-web-2-p-800.jpeg   800w,
              /assets/images/mpd-ccso-web-2-p-1080.jpeg 1080w,
              /assets/images/mpd-ccso-web-2.jpeg        1600w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-ccso-web-1.jpeg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/mpd-ccso-web-1-p-500.jpeg   500w,
              /assets/images/mpd-ccso-web-1-p-800.jpeg   800w,
              /assets/images/mpd-ccso-web-1-p-1080.jpeg 1080w,
              /assets/images/mpd-ccso-web-1.jpeg        1600w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/img-3500-2.jpg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/img-3500-2-p-500.jpg   500w,
              /assets/images/img-3500-2-p-800.jpg   800w,
              /assets/images/img-3500-2-p-1080.jpg 1080w,
              /assets/images/img-3500-2-p-1600.jpg 1600w,
              /assets/images/img-3500-2-p-2000.jpg 2000w,
              /assets/images/img-3500-2-p-2600.jpg 2600w,
              /assets/images/img-3500-2.jpg        3024w
            "
          />
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
