---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Misc. Print</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/misc-print" class="tag w-button">
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/misc-print" class="tag w-button">
                        Events
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Assorted print pieces from previous projects.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/mpd-card-birthday-detail.png);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-card-ccso-red-carpet6-transparent.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-card-ccso-red-carpet6-transparent-p-500.png   500w,
              /assets/images/mpd-card-ccso-red-carpet6-transparent-p-800.png   800w,
              /assets/images/mpd-card-ccso-red-carpet6-transparent-p-1080.png 1080w,
              /assets/images/mpd-card-ccso-red-carpet6-transparent.png        2000w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-card-ccso-red-carpet3.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-card-ccso-red-carpet3-p-500.png   500w,
              /assets/images/mpd-card-ccso-red-carpet3-p-800.png   800w,
              /assets/images/mpd-card-ccso-red-carpet3-p-1080.png 1080w,
              /assets/images/mpd-card-ccso-red-carpet3.png        1483w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-card-violins.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-card-violins-p-500.png   500w,
              /assets/images/mpd-card-violins-p-800.png   800w,
              /assets/images/mpd-card-violins-p-1080.png 1080w,
              /assets/images/mpd-card-violins.png        1696w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-card-violins-detail.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-card-violins-detail-p-500.png 500w,
              /assets/images/mpd-card-violins-detail-p-800.png 800w,
              /assets/images/mpd-card-violins-detail.png       965w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/kira.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/kira-p-500.png   500w,
              /assets/images/kira-p-800.png   800w,
              /assets/images/kira-p-1080.png 1080w,
              /assets/images/kira-p-1600.png 1600w,
              /assets/images/kira.png        1970w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
