---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">ARTBALL</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/artball" class="tag w-button">
                        Events
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/artball" class="tag w-button">
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/artball" class="tag w-button">
                        Branding
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Event branding for formal art gala.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/mpd-artball-e1548633040168.png);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-artball-5.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-artball-5-p-500.png   500w,
              /assets/images/mpd-artball-5-p-800.png   800w,
              /assets/images/mpd-artball-5-p-1080.png 1080w,
              /assets/images/mpd-artball-5-p-1600.png 1600w,
              /assets/images/mpd-artball-5-p-2000.png 2000w,
              /assets/images/mpd-artball-5-p-2600.png 2600w,
              /assets/images/mpd-artball-5.png        3000w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-artball-6.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-artball-6-p-500.png   500w,
              /assets/images/mpd-artball-6-p-800.png   800w,
              /assets/images/mpd-artball-6-p-1080.png 1080w,
              /assets/images/mpd-artball-6-p-1600.png 1600w,
              /assets/images/mpd-artball-6.png        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-05-23-at-11.37.24-pm.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm-p-500.jpg   500w,
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm-p-800.jpg   800w,
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm-p-1080.jpg 1080w,
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm-p-1600.jpg 1600w,
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm-p-2000.jpg 2000w,
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm-p-2600.jpg 2600w,
              /assets/images/screen-shot-2022-05-23-at-11.37.24-pm.jpg        2688w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-artball-2.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-artball-2-p-500.png   500w,
              /assets/images/mpd-artball-2-p-800.png   800w,
              /assets/images/mpd-artball-2-p-1080.png 1080w,
              /assets/images/mpd-artball-2-p-1600.png 1600w,
              /assets/images/mpd-artball-2.png        1920w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
