---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "About";
const description = "";
const bodyClass = "body-2";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div class="section-13">
    <div class="w-row">
      <div class="column-25 w-col w-col-9">
        <h1 class="header-line">Info</h1>
        <div class="div-block-83">
          <div class="div-block-85">
            <img
              src="/assets/images/mpd-best-photo.jpg"
              loading="lazy"
              height=""
              width="1184"
              alt=""
              srcset="
                /assets/images/mpd-best-photo-p-500.jpg   500w,
                /assets/images/mpd-best-photo-p-800.jpg   800w,
                /assets/images/mpd-best-photo-p-1080.jpg 1080w,
                /assets/images/mpd-best-photo-p-1600.jpg 1600w,
                /assets/images/mpd-best-photo-p-2000.jpg 2000w,
                /assets/images/mpd-best-photo.jpg        2368w
              "
              sizes="(max-width: 767px) 46vw, (max-width: 991px) 34vw, 37vw"
              class="image-24"
            />
          </div>
          <div class="div-block-84">
            <div class="rich-text-block-15 w-richtext">
              <h3>
                Hello! I am a creative director and designer living in Houston, TX, currently working in-house in the arts and culture sector.
              </h3>
            </div>
            <div class="w-richtext"></div>
          </div>
        </div>
        <div class="div-block-11">
          <div class="div-block-3">
            <h2 class="heading-46">Credentials</h2>
            <a
              href="/assets/files/molly-resume-only-designer-2023.pdf"
              target="_blank"
              class="button w-button"
            >
              Download Résumé
            </a>
          </div>
          <div class="flex-across">
            <div class="flex-inner">
              <h6>2020 - 2023</h6>
              <h4 class="heading-20">
                Alley Theatre
                <br />
              </h4>
              <h6 class="heading-19">
                Associate Director of Marketing
                <br />
                Currently working in-house on the Marketing Team for Alley Theatre, a Tony Award winning regional theatre that has been a pillar of the arts community in Houston, TX since 1947.
              </h6>
            </div>
            <div class="flex-inner">
              <h6>2013 - 2022</h6>
              <h4 class="heading-20">
                Molly Pierce Design
                <br />
              </h4>
              <h6 class="heading-19">Independent Graphic Design Studio</h6>
            </div>
          </div>
          <div class="columns-23 w-row">
            <div class="column-7 w-col w-col-6"></div>
            <div class="column-8 w-col w-col-6"></div>
          </div>
          <div class="columns-5 w-row">
            <div class="column-11 w-col w-col-9">
              <h3 class="heading-18">Skills</h3>
              <div class="flex-across">
                <div class="flex-inner">
                  <h4 class="heading-20">
                    Graphic Design
                    <br />
                  </h4>
                  <h6 class="heading-19">
                    Print Design, Typography, Editorial Design, Motion Graphics
                  </h6>
                </div>
                <div class="flex-inner">
                  <h4 class="heading-20">
                    Digital Design
                    <br />
                  </h4>
                  <h6 class="heading-19 flex-inner">
                    UI/UX Fundamentals, Web Design, Static Site Design, Motion
                    Graphics, Wireframing
                  </h6>
                </div>
              </div>
              <div class="flex-across">
                <div class="flex-inner">
                  <h4 class="heading-20">
                    Ideation + Prototyping
                    <br />
                  </h4>
                  <h6 class="heading-19">
                    Quick Sketching, Digital &amp; Physical Prototyping, Visual
                    Research, Storyboarding
                  </h6>
                </div>
                <div class="flex-inner">
                  <h4 class="heading-20">
                    Branding
                    <br />
                  </h4>
                  <h6 class="heading-19">
                    Logo Design, Visual Design, Narrative and Concept Development,
                    Brand Strategy
                  </h6>
                </div>
              </div>
              <div class="columns-23 w-row">
                <div class="column-7 w-col w-col-6"></div>
                <div class="column-8 w-col w-col-6"></div>
              </div>
              <div class="columns-23 w-row">
                <div class="column-7 w-col w-col-6"></div>
                <div class="column-8 w-col w-col-6"></div>
              </div>
            </div>
            <div class="w-col w-col-3">
              <h3 class="heading-18">Tools</h3>
              <h6 class="heading-19">
                Pen and Paper; Adobe Ai, Ps, Id, Pr, Ae, Xd; HTML &amp; CSS,
                Webflow, Wordpress, Shopify, Static Site Design, Figma, Sketch,
                Invision
              </h6>
            </div>
          </div>
        </div>
        <h3 class="heading-91">Project Archive</h3>
        <div class="div-block-69">
          <div class="full-width">
            <a href="/project-archive" class="full-width w-inline-block">
              <img
                src="/assets/images/tree.jpg"
                loading="lazy"
                sizes="(max-width: 479px) 96vw, (max-width: 767px) 93vw, (max-width: 991px) 71vw, 75vw"
                srcset="
                  /assets/images/tree-p-500.jpg   500w,
                  /assets/images/tree-p-800.jpg   800w,
                  /assets/images/tree-p-1080.jpg 1080w,
                  /assets/images/tree-p-1600.jpg 1600w,
                  /assets/images/tree.jpg        1920w
                "
                alt=""
                class="image-34"
              />
              <div class="div-block-71">
                <h4 class="heading-113">Project Archive</h4>
                <h6 class="heading-114">VIEW ALL</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body"></div>

</BaseLayout>
