---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="main-left w-col w-col-3"></div>
      <div class="main right-side w-col w-col-9">
        <div class="div-block-80">
          <h1 class="heading-98">Project Archive</h1>
          <div class="w-dyn-list">
            <div role="list" class="collection-list-29 w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a
                  href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                  class="tag-2 w-button"
                >
                  Client Work
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a
                  href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                  class="tag-2 w-button"
                >
                  Personal/School Projects
                </a>
              </div>
            </div>
          </div>
          <div class="tag-wrapper w-dyn-list">
            <div role="list" class="tag-list w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/3d" class="tag w-button">3D</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/motion-graphics" class="tag w-button">
                  Motion Graphics
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/poster-design" class="tag w-button">Poster</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/typography" class="tag w-button">Typography</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a
                  href="/tags/logo-design"
                  aria-current="page"
                  class="tag w-button w--current"
                >
                  Logo
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/branding" class="tag w-button">Branding</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/illustration" class="tag w-button">Illustration</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/signage-environmental-design" class="tag w-button">
                  Environmental
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/newsletter-design" class="tag w-button">
                  Newsletter
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/editorial-design" class="tag w-button">
                  Editorial
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/print-design" class="tag w-button">Print</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/event-branding" class="tag w-button">Events</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/website-design" class="tag w-button">
                  Website Design
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/web-design" class="tag w-button">Website</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/interviews" class="tag w-button">Interviews</a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="/tags/featured" class="tag w-button">Featured</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-dyn-list">
          <div role="list" class="collection-list-28 w-dyn-items">
            <div role="listitem" class="collection-item-21 w-dyn-item">
              <div>
                <div class="div-block-42">
                  <div class="portfolio-number">
                    <h3 class="heading-81">0</h3>
                    <h3 class="heading-81">18</h3>
                  </div>
                </div>
                <a href="/tags/logo-design" class="portfolio-link w-inline-block">
                  <img
                    src="/assets/images/cc-produce-logo.jpg"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 43vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 33vw"
                    srcset="
                      /assets/images/cc-produce-logo-p-500.jpg   500w,
                      /assets/images/cc-produce-logo-p-800.jpg   800w,
                      /assets/images/cc-produce-logo-p-1080.jpg 1080w,
                      /assets/images/cc-produce-logo.jpg        1400w
                    "
                    class="portfolio-img"
                  />
                </a>
                <div class="div-block-42 portfolio-row">
                  <a
                    href="/portfolio-item/cc-produce"
                    class="div-block-43 w-inline-block"
                  >
                    <h6>CC Produce</h6>
                  </a>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="div-block-43 w-inline-block"
                  >
                    <h6 class="heading-84 tag tag2">Client Work</h6>
                  </a>
                </div>
                <div class="div-block-42 portfolio-row portfolio-row-btm">
                  <div class="div-block-63">
                    <div class="tag-wrapper w-dyn-list">
                      <div role="list" class="tag-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Logo
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Environmental
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-block-44">
                    <p class="paragraph-16">
                      Logo refresh and truck wrap for heritage grocer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="collection-item-21 w-dyn-item">
              <div>
                <div class="div-block-42">
                  <div class="portfolio-number">
                    <h3 class="heading-81">0</h3>
                    <h3 class="heading-81">17</h3>
                  </div>
                </div>
                <a href="/tags/logo-design" class="portfolio-link w-inline-block">
                  <img
                    src="/assets/images/mpd-cornerstone-residential-branding-logo-2.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 43vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 33vw"
                    srcset="
                      /assets/images/mpd-cornerstone-residential-branding-logo-2-p-500.png   500w,
                      /assets/images/mpd-cornerstone-residential-branding-logo-2-p-800.png   800w,
                      /assets/images/mpd-cornerstone-residential-branding-logo-2-p-1080.png 1080w,
                      /assets/images/mpd-cornerstone-residential-branding-logo-2.png        1600w
                    "
                    class="portfolio-img"
                  />
                </a>
                <div class="div-block-42 portfolio-row">
                  <a
                    href="/portfolio-item/cornerstone-residential"
                    class="div-block-43 w-inline-block"
                  >
                    <h6>Cornerstone Residential</h6>
                  </a>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="div-block-43 w-inline-block"
                  >
                    <h6 class="heading-84 tag tag2">Client Work</h6>
                  </a>
                </div>
                <div class="div-block-42 portfolio-row portfolio-row-btm">
                  <div class="div-block-63">
                    <div class="tag-wrapper w-dyn-list">
                      <div role="list" class="tag-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Branding
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Logo
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Website
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Print
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-block-44">
                    <p class="paragraph-16">
                      Logo, brand identity, website, and print collateral for a
                      property management company.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="collection-item-21 w-dyn-item">
              <div>
                <div class="div-block-42">
                  <div class="portfolio-number">
                    <h3 class="heading-81">0</h3>
                    <h3 class="heading-81">15</h3>
                  </div>
                </div>
                <a href="/tags/logo-design" class="portfolio-link w-inline-block">
                  <img
                    src="/assets/images/mpd-martha-7.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 43vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 33vw"
                    srcset="
                      /assets/images/mpd-martha-7-p-500.png   500w,
                      /assets/images/mpd-martha-7-p-800.png   800w,
                      /assets/images/mpd-martha-7-p-1080.png 1080w,
                      /assets/images/mpd-martha-7.png        1220w
                    "
                    class="portfolio-img"
                  />
                </a>
                <div class="div-block-42 portfolio-row">
                  <a
                    href="/portfolio-item/together-forward"
                    class="div-block-43 w-inline-block"
                  >
                    <h6>Together Forward</h6>
                  </a>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="div-block-43 w-inline-block"
                  >
                    <h6 class="heading-84 tag tag2">Client Work</h6>
                  </a>
                </div>
                <div class="div-block-42 portfolio-row portfolio-row-btm">
                  <div class="div-block-63">
                    <div class="tag-wrapper w-dyn-list">
                      <div role="list" class="tag-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Branding
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Logo
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Print
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Website
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-block-44">
                    <p class="paragraph-16">
                      Brand identity for a private Death Doula practice.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="collection-item-21 w-dyn-item">
              <div>
                <div class="div-block-42">
                  <div class="portfolio-number">
                    <h3 class="heading-81">0</h3>
                    <h3 class="heading-81">6</h3>
                  </div>
                </div>
                <a href="/tags/logo-design" class="portfolio-link w-inline-block">
                  <img
                    src="/assets/images/screen-shot-2022-12-18-at-3.16.16-pm.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 43vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 33vw"
                    srcset="
                      /assets/images/screen-shot-2022-12-18-at-3.16.16-pm-p-500.png   500w,
                      /assets/images/screen-shot-2022-12-18-at-3.16.16-pm-p-800.png   800w,
                      /assets/images/screen-shot-2022-12-18-at-3.16.16-pm-p-1080.png 1080w,
                      /assets/images/screen-shot-2022-12-18-at-3.16.16-pm.png        1204w
                    "
                    class="portfolio-img"
                  />
                </a>
                <div class="div-block-42 portfolio-row">
                  <a
                    href="/portfolio-item/dfm"
                    class="div-block-43 w-inline-block"
                  >
                    <h6>DFM</h6>
                  </a>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="div-block-43 w-inline-block"
                  >
                    <h6 class="heading-84 tag tag2">Personal/School Projects</h6>
                  </a>
                </div>
                <div class="div-block-42 portfolio-row portfolio-row-btm">
                  <div class="div-block-63">
                    <div class="tag-wrapper w-dyn-list">
                      <div role="list" class="tag-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Branding
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Logo
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Events
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-block-44">
                    <p class="paragraph-16">
                      Experimental logo &amp; brand identity redesign concept for
                      Dallas Farmer&#x27;s Market.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="collection-item-21 w-dyn-item">
              <div>
                <div class="div-block-42">
                  <div class="portfolio-number">
                    <h3 class="heading-81">0</h3>
                    <h3 class="heading-81">4</h3>
                  </div>
                </div>
                <a href="/tags/logo-design" class="portfolio-link w-inline-block">
                  <img
                    src="/assets/images/frocks7.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 43vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 33vw"
                    srcset="
                      /assets/images/frocks7-p-500.png   500w,
                      /assets/images/frocks7-p-800.png   800w,
                      /assets/images/frocks7-p-1080.png 1080w,
                      /assets/images/frocks7-p-1600.png 1600w,
                      /assets/images/frocks7-p-2000.png 2000w,
                      /assets/images/frocks7.png        2260w
                    "
                    class="portfolio-img"
                  />
                </a>
                <div class="div-block-42 portfolio-row">
                  <a
                    href="/portfolio-item/frocks"
                    class="div-block-43 w-inline-block"
                  >
                    <h6>Frocks</h6>
                  </a>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="div-block-43 w-inline-block"
                  >
                    <h6 class="heading-84 tag tag2">Personal/School Projects</h6>
                  </a>
                </div>
                <div class="div-block-42 portfolio-row portfolio-row-btm">
                  <div class="div-block-63">
                    <div class="tag-wrapper w-dyn-list">
                      <div role="list" class="tag-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Logo
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Branding
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Events
                          </a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                          <a href="/tags/logo-design" class="tag w-button">
                            Featured
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-block-44">
                    <p class="paragraph-16">
                      Experimental logo &amp; brand identity concept for a
                      hypothetical boutique alterations shop.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            role="navigation"
            aria-label="List"
            class="w-pagination-wrapper pagination"
          ></div>
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
