---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Waterstreet Restaurants</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/waterstreet-restaurants"
                        class="tag w-button"
                      >
                        Illustration
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/waterstreet-restaurants"
                        class="tag w-button"
                      >
                        Environmental
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/waterstreet-restaurants"
                        class="tag w-button"
                      >
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/waterstreet-restaurants"
                        class="tag w-button"
                      >
                        Website
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Print work for Waterstreet Restaurants in Corpus Christi, TX
                </p>
                <p class="paragraph-18">
                  Another fruitful engagement was with a beloved family of
                  restaurants in Corpus Christi, TX. I provided Waterstreet
                  Restaurants with pieces for all of their dining concepts,
                  Executive Surf Club, Waterstreet Oyster Bar, and Waterstreet
                  Sushi Bar, as well as their pet project next door, the Texas
                  Surf Museum. Included: website for Texas Surf Museum; pearl girl
                  illustration and signage design to promote a bill supporting
                  protection of local oyster beds; surf board menu signage,
                  printed on a surfboard and hung above the checkout counter;
                  series of “stamp” graphics that the company used to develop
                  their own graphics in-house.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/img-1910.jpg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-15-at-10.27.04-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-15-at-10.27.04-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-15-at-10.27.04-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-15-at-10.27.04-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-15-at-10.27.04-pm.png        1158w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-8.24.07-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-8.24.07-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-8.24.07-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-8.24.07-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-8.24.07-pm.png        1590w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-8.25.29-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-8.25.29-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-8.25.29-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-8.25.29-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-8.25.29-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-8.25.29-pm.png        1656w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/surf-club-elements.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/surf-club-elements-p-500.png   500w,
              /assets/images/surf-club-elements-p-800.png   800w,
              /assets/images/surf-club-elements-p-1080.png 1080w,
              /assets/images/surf-club-elements.png        1600w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-8.26.25-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-8.26.25-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-8.26.25-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-8.26.25-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-8.26.25-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-8.26.25-pm.png        1656w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-kids-menu-executive-surf-club.png"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/mpd-kids-menu-executive-surf-club-p-500.png   500w,
              /assets/images/mpd-kids-menu-executive-surf-club-p-800.png   800w,
              /assets/images/mpd-kids-menu-executive-surf-club-p-1080.png 1080w,
              /assets/images/mpd-kids-menu-executive-surf-club.png        1454w
            "
            class="image-38"
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/img-1914.jpg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/img-1914-p-500.jpg   500w,
              /assets/images/img-1914-p-800.jpg   800w,
              /assets/images/img-1914-p-1080.jpg 1080w,
              /assets/images/img-1914-p-1600.jpg 1600w,
              /assets/images/img-1914.jpg        1920w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/surf-club-e1529275664748.png"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/surf-club-e1529275664748-p-500.png   500w,
              /assets/images/surf-club-e1529275664748-p-800.png   800w,
              /assets/images/surf-club-e1529275664748-p-1080.png 1080w,
              /assets/images/surf-club-e1529275664748.png        1396w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-surf-museum-ipad-pink.jpg"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
              /assets/images/mpd-surf-museum-ipad-pink-p-500.jpg   500w,
              /assets/images/mpd-surf-museum-ipad-pink-p-800.jpg   800w,
              /assets/images/mpd-surf-museum-ipad-pink-p-1080.jpg 1080w,
              /assets/images/mpd-surf-museum-ipad-pink.jpg        1600w
            "
          />
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
