---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Info";
const description = "";
const bodyClass = "body-2 home-page";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div data-w-id="340d957e-719d-ff00-53be-9ba80e305e0a" class="cover">
    <img
      src="/assets/images/mpd-logo-colorful-across-3.png"
      loading="lazy"
      data-w-id="bf62d659-ffef-40df-a691-6aea175e8397"
      sizes="100vw"
      alt=""
      srcset="
        /assets/images/mpd-logo-colorful-across-3-p-500.png   500w,
        /assets/images/mpd-logo-colorful-across-3-p-800.png   800w,
        /assets/images/mpd-logo-colorful-across-3-p-1080.png 1080w,
        /assets/images/mpd-logo-colorful-across-3-p-1600.png 1600w,
        /assets/images/mpd-logo-colorful-across-3.png        1942w
      "
      class="image-32"
    />
  </div>
  <div>
    <div class="w-row">
      <div class="column-48 w-col w-col-9">
        <div class="column-25">
          <h3 class="heading-111">
            Molly Pierce is a graphic designer living in Houston, TX.
            <span>Learn more</span>
            <a href="/about"><span class="text-span-2">about me.</span></a>
            <a href="/about"></a>
          </h3>
          <h2 class="heading-89">Project Archive</h2>
          <div class="div-block-68">
            <div class="div-block-69">
              <div class="full-width">
                <a href="/project-archive" class="full-width w-inline-block">
                  <img
                    src="/assets/images/tree.jpg"
                    loading="lazy"
                    sizes="(max-width: 479px) 96vw, (max-width: 767px) 93vw, (max-width: 991px) 71vw, 75vw"
                    srcset="
                      /assets/images/tree-p-500.jpg   500w,
                      /assets/images/tree-p-800.jpg   800w,
                      /assets/images/tree-p-1080.jpg 1080w,
                      /assets/images/tree-p-1600.jpg 1600w,
                      /assets/images/tree.jpg        1920w
                    "
                    alt=""
                    class="image-34"
                  />
                  <div class="div-block-71">
                    <h4 class="heading-113">Project Archive</h4>
                    <h6 class="heading-114">VIEW ALL</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="projects-list"></div>
          <h2 class="heading-89">Featured</h2>
          <div class="collection-list-wrapper-17 w-dyn-list">
            <div role="list" class="collection-list-21 w-dyn-items">
              <div role="listitem" class="collection-item-18 w-dyn-item">
                <a href="/portfolio-item/frocks" class="w-inline-block">
                  <img
                    src="/assets/images/frocks7.png"
                    loading="lazy"
                    alt=""
                    sizes="100vw"
                    srcset="
                      /assets/images/frocks7-p-500.png   500w,
                      /assets/images/frocks7-p-800.png   800w,
                      /assets/images/frocks7-p-1080.png 1080w,
                      /assets/images/frocks7-p-1600.png 1600w,
                      /assets/images/frocks7-p-2000.png 2000w,
                      /assets/images/frocks7.png        2260w
                    "
                    class="image-25"
                  />
                </a>
              </div>
              <div role="listitem" class="collection-item-18 w-dyn-item">
                <a
                  href="/portfolio-item/dorothy-hood-book"
                  class="w-inline-block"
                >
                  <img
                    src="/assets/images/amst-kids-1.jpeg"
                    loading="lazy"
                    alt=""
                    sizes="100vw"
                    srcset="
                      /assets/images/amst-kids-1-p-500.jpeg   500w,
                      /assets/images/amst-kids-1-p-800.jpeg   800w,
                      /assets/images/amst-kids-1-p-1080.jpeg 1080w,
                      /assets/images/amst-kids-1.jpeg        1400w
                    "
                    class="image-25"
                  />
                </a>
              </div>
              <div role="listitem" class="collection-item-18 w-dyn-item">
                <a
                  href="/portfolio-item/corpus-christi-symphony-orchestra"
                  class="w-inline-block"
                >
                  <img
                    src="/assets/images/mpd-ccso-see-it-live-05.jpeg"
                    loading="lazy"
                    alt=""
                    sizes="100vw"
                    srcset="
                      /assets/images/mpd-ccso-see-it-live-05-p-500.jpeg   500w,
                      /assets/images/mpd-ccso-see-it-live-05-p-800.jpeg   800w,
                      /assets/images/mpd-ccso-see-it-live-05-p-1080.jpeg 1080w,
                      /assets/images/mpd-ccso-see-it-live-05-p-1600.jpeg 1600w,
                      /assets/images/mpd-ccso-see-it-live-05.jpeg        1800w
                    "
                    class="image-25"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body"></div>

</BaseLayout>
