---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Laguna Wealth Services</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/laguna-wealth-services"
                        class="tag w-button"
                      >
                        Print
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Tri-fold pocket folder and a holiday card for a wealth
                  management agency.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/img-5042-1536x1484.jpeg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385-p-500.png   500w,
              /assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385-p-800.png   800w,
              /assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385-p-1080.png 1080w,
              /assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385-p-1600.png 1600w,
              /assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385-p-2000.png 2000w,
              /assets/images/laguna-wealth-services-with-dieline-side-1-2048x1385.png        2048w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2018-11-24-at-9.43.47-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2018-11-24-at-9.43.47-pm-p-500.png 500w,
              /assets/images/screen-shot-2018-11-24-at-9.43.47-pm-p-800.png 800w,
              /assets/images/screen-shot-2018-11-24-at-9.43.47-pm.png       979w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-laguna-christmas-card-1.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-laguna-christmas-card-1-p-500.png   500w,
              /assets/images/mpd-laguna-christmas-card-1-p-800.png   800w,
              /assets/images/mpd-laguna-christmas-card-1-p-1080.png 1080w,
              /assets/images/mpd-laguna-christmas-card-1.png        1219w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
