---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Dorothy Hood Book</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/dorothy-hood-book"
                        class="tag w-button"
                      >
                        Events
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/dorothy-hood-book"
                        class="tag w-button"
                      >
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/dorothy-hood-book"
                        class="tag w-button"
                      >
                        Website
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/dorothy-hood-book"
                        class="tag w-button"
                      >
                        Interviews
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/dorothy-hood-book"
                        class="tag w-button"
                      >
                        Featured
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Children&#x27;s activity book, created for launch of AMST&#x27;s
                  permanent exhibit featuring incredible paintings by artist
                  Dorothy Hood.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/amst-kids-1.jpeg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-kids-2.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-kids-2-p-500.jpeg   500w,
              /assets/images/amst-kids-2-p-800.jpeg   800w,
              /assets/images/amst-kids-2-p-1080.jpeg 1080w,
              /assets/images/amst-kids-2.jpeg        1400w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-kids-4.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-kids-4-p-500.jpeg   500w,
              /assets/images/amst-kids-4-p-800.jpeg   800w,
              /assets/images/amst-kids-4-p-1080.jpeg 1080w,
              /assets/images/amst-kids-4.jpeg        1400w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-kids-13.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-kids-13-p-500.jpeg   500w,
              /assets/images/amst-kids-13-p-800.jpeg   800w,
              /assets/images/amst-kids-13-p-1080.jpeg 1080w,
              /assets/images/amst-kids-13.jpeg        1400w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/amst-kids-16.jpeg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/amst-kids-16-p-500.jpeg   500w,
              /assets/images/amst-kids-16-p-800.jpeg   800w,
              /assets/images/amst-kids-16-p-1080.jpeg 1080w,
              /assets/images/amst-kids-16.jpeg        1400w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
