---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Together Forward</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/together-forward"
                        class="tag w-button"
                      >
                        Branding
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/together-forward"
                        class="tag w-button"
                      >
                        Logo
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/together-forward"
                        class="tag w-button"
                      >
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="/portfolio-item/together-forward"
                        class="tag w-button"
                      >
                        Website
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Brand identity for a private Death Doula practice.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/mpd-martha-7.png);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-martha-6.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-martha-6-p-500.png   500w,
              /assets/images/mpd-martha-6-p-800.png   800w,
              /assets/images/mpd-martha-6-p-1080.png 1080w,
              /assets/images/mpd-martha-6.png        1220w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-martha-5.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-martha-5-p-500.png   500w,
              /assets/images/mpd-martha-5-p-800.png   800w,
              /assets/images/mpd-martha-5-p-1080.png 1080w,
              /assets/images/mpd-martha-5.png        1220w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-martha-3.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-martha-3-p-500.png   500w,
              /assets/images/mpd-martha-3-p-800.png   800w,
              /assets/images/mpd-martha-3-p-1080.png 1080w,
              /assets/images/mpd-martha-3.png        1220w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/mpd-martha-2.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/mpd-martha-2-p-500.png   500w,
              /assets/images/mpd-martha-2-p-800.png   800w,
              /assets/images/mpd-martha-2-p-1080.png 1080w,
              /assets/images/mpd-martha-2.png        1220w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
