---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">CC Produce</h4>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="tag-2 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/cc-produce" class="tag w-button">
                        Logo
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/cc-produce" class="tag w-button">
                        Environmental
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  Logo refresh and truck wrap for heritage grocer.
                </p>
                <h6 class="heading-123 w-condition-invisible">What I did:</h6>
              </div>
            </div>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/cc-produce-logo.jpg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-2.10.41-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-2.10.41-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-2.10.41-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-2.10.41-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-2.10.41-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-2.10.41-pm.png        1912w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-2.11.43-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-2.11.43-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-2.11.43-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-2.11.43-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-2.11.43-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-2.11.43-pm.png        1792w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-2.12.07-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-2.12.07-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-2.12.07-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-2.12.07-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-2.12.07-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-2.12.07-pm.png        1744w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-2.14.41-pm.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-2.14.41-pm-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-2.14.41-pm-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-2.14.41-pm-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-2.14.41-pm-p-1600.png 1600w,
              /assets/images/screen-shot-2022-12-21-at-2.14.41-pm-p-2000.png 2000w,
              /assets/images/screen-shot-2022-12-21-at-2.14.41-pm.png        2216w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
