<footer class="site-footer">
  <div class="columns-2 w-row">
    <div class="column-15 w-col w-col-4">
      <h4 class="heading-4">Houston, TX</h4>
    </div>
    <div class="column w-col w-col-4">
      <h4 class="heading-3">Designer</h4>
    </div>
    <div class="column-14 w-col w-col-4">
      <a href="mailto:mollympierce@gmail.com?subject=Hello%20Molly" class="link-17">
        mollympierce@gmail.com
      </a>
    </div>
  </div>
</footer>
