---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-25 portfolio-page w-col w-col-9">
        <div class="portfolio-top">
          <div class="portfolio-top-left">
            <div class="portfolio-text">
              <div>
                <div class="portfolio-text--line">
                  <h4 class="portfolio-title">Fruit Bowl</h4>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="tag-2 w-button"
                  >
                    Personal/School Projects
                  </a>
                </div>
              </div>
              <div>
                <div class="tag-wrapper w-dyn-list">
                  <div role="list" class="tag-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/fruit-bowl" class="tag w-button">
                        Print
                      </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a href="/portfolio-item/fruit-bowl" class="tag w-button">
                        Illustration
                      </a>
                    </div>
                  </div>
                </div>
                <p class="portfolio-caption">
                  4-color screen printed illustration.
                </p>
                <p class="paragraph-18">
                  This project called for me to develop an ‘aesthetic profile’
                  through a prescribed process. We responded to prompts about what
                  inspired us as designers, made a moodboard, and then create a
                  ‘postcard’ to share with the class. I decided to take the
                  project a step further and create a screen print as well. The
                  thread that connects my passion and sensibility for design is a
                  desire to enhance and celebrate the bounty and joy of daily
                  life. I appreciate the effort through designed expression in
                  whatever medium to inject beauty into and extract beauty from
                  the day to day slog, rejecting the notion that the small
                  monotonous steps of our lives ought not be imbued with character
                  or humor or elegance or grace. My practice professionally has
                  mostly consisted of graphic design work for clients, and though
                  the goal of those projects isn’t for me to express my own ideas,
                  I do tend to head in some similar directions frequently for
                  inspiration. I love bold, clashing color palettes and
                  uncluttered, simplistic layouts with expressive language and
                  restrained typography, and love designs that evoke some sense of
                  playfulness or irreverence, that maybe feel a bit cheeky. Beyond
                  the graphic design work I’ve done for clients, I often to
                  express myself through design using different elements and
                  mediums that revolve around the home and family, living, dining,
                  nurturing and gathering people together. I chose to express this
                  collection of influences and values with an illustration of a
                  fruit bowl, textured imperfectly with the prints of handmaid
                  quilts from various decades throughout the last century. The
                  graphic still-life accompanied by a line of text from The
                  Convivialist Manifesto, translated from French by Margaret
                  Clarke, a document which introduces the intentions behind a
                  recent social movement known as Convivialism, deriving from the
                  French spirit of convivialité, which we all know to mean the
                  exuberant warmth that is cultivated around a table with our
                  loved ones. The evolved interpretation presented in the text
                  strives to reimagine a post-liberal societal structure that
                  values interdependence, common humanity, sociality, creative
                  individuation, and productive non-distructive conflict, a
                  concept which I feel is brilliantly illustrative of my sense of
                  design expression.
                </p>
                <h6 class="heading-123">What I did:</h6>
                <p class="paragraph-17">Illustration, Concept, Screen printing</p>
              </div>
            </div>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="back-link w-inline-block"
            >
              <h6 class="back-btn">↖ BACK</h6>
            </a>
            <a
              href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
              class="w-inline-block w-condition-invisible"
            >
              <h6 class="heading-121 w-dyn-bind-empty"></h6>
              <h6 class="heading-122">↗</h6>
            </a>
          </div>
          <div
            style="
              background-image: url(/assets/images/fruit5.jpg);
            "
            class="portfolio-top-right"
          ></div>
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/fruit1.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/fruit1-p-500.jpg   500w,
              /assets/images/fruit1-p-800.jpg   800w,
              /assets/images/fruit1-p-1080.jpg 1080w,
              /assets/images/fruit1-p-1600.jpg 1600w,
              /assets/images/fruit1-p-2000.jpg 2000w,
              /assets/images/fruit1-p-2600.jpg 2600w,
              /assets/images/fruit1.jpg        3950w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/fruit-bowl.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/fruit-bowl-p-500.png   500w,
              /assets/images/fruit-bowl-p-800.png   800w,
              /assets/images/fruit-bowl-p-1080.png 1080w,
              /assets/images/fruit-bowl.png        1258w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/img-1902.jpg"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/img-1902-p-500.jpg   500w,
              /assets/images/img-1902-p-800.jpg   800w,
              /assets/images/img-1902-p-1080.jpg 1080w,
              /assets/images/img-1902-p-1600.jpg 1600w,
              /assets/images/img-1902-p-2000.jpg 2000w,
              /assets/images/img-1902-p-2600.jpg 2600w,
              /assets/images/img-1902-p-3200.jpg 3200w,
              /assets/images/img-1902.jpg        4032w
            "
          />
        </div>
        <div class="portfolio-slide">
          <img
            src="/assets/images/screen-shot-2022-12-21-at-1.51.36-am.png"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 100vw, 75vw"
            srcset="
              /assets/images/screen-shot-2022-12-21-at-1.51.36-am-p-500.png   500w,
              /assets/images/screen-shot-2022-12-21-at-1.51.36-am-p-800.png   800w,
              /assets/images/screen-shot-2022-12-21-at-1.51.36-am-p-1080.png 1080w,
              /assets/images/screen-shot-2022-12-21-at-1.51.36-am.png        1306w
            "
          />
        </div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
        <div class="portfolio-slide"></div>
      </div>
    </div>
  </div>

</BaseLayout>
