---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
const pageStyles = "\n  body {\n  -moz-font-feature-settings: \"liga\" on;\n  -moz-osx-font-smoothing: grayscale;\n  -webkit-font-smoothing: antialiased;\n  font-feature-settings: \"liga\" on;\n  text-rendering: optimizeLegibility;\n}\n";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
  pageStyles={pageStyles}
>
  <div>
    <div class="w-row">
      <div class="column-21 w-col w-col-9">
        <div class="column-25">
          <div>
            <a href="/project-archive" class="w-inline-block">
              <h1 class="header-line">Project Archive</h1>
            </a>
            <div class="tag-wrapper w-dyn-list">
              <div role="list" class="tag-list w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    aria-current="page"
                    class="button tag-3 w-button w--current"
                  >
                    Personal/School Projects
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="button tag-3 w-button"
                  >
                    Client Work
                  </a>
                </div>
              </div>
            </div>
            <div class="w-dyn-list">
              <div role="list" class="collection-list-23 w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/3d" class="tag w-button">3D</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/motion-graphics" class="tag w-button">
                    Motion Graphics
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/poster-design" class="tag w-button">Poster</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/typography" class="tag w-button">Typography</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/logo-design" class="tag w-button">Logo</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/branding" class="tag w-button">Branding</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/illustration" class="tag w-button">
                    Illustration
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a
                    href="/tags/signage-environmental-design"
                    class="tag w-button"
                  >
                    Environmental
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/newsletter-design" class="tag w-button">
                    Newsletter
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/editorial-design" class="tag w-button">
                    Editorial
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/print-design" class="tag w-button">Print</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/event-branding" class="tag w-button">Events</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/website-design" class="tag w-button">
                    Website Design
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/web-design" class="tag w-button">Website</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/interviews" class="tag w-button">Interviews</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/featured" class="tag w-button">Featured</a>
                </div>
              </div>
            </div>
            <div class="w-dyn-list">
              <div role="list" class="collection-list-24 w-dyn-items">
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">1</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/tree.jpg);
                      "
                      href="/portfolio-item/the-grateful-ghost"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/the-grateful-ghost"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          The Grateful Ghost
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/illustration" class="tag w-button">
                                Illustration
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/motion-graphics"
                                class="tag w-button"
                              >
                                Motion Graphics
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        1-minute otherworldly ‘animatic’ inspired by a Korean
                        parable.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">2</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/fruit5.jpg);
                      "
                      href="/portfolio-item/fruit-bowl"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/fruit-bowl" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Fruit Bowl
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/illustration" class="tag w-button">
                                Illustration
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        4-color screen printed illustration.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">4</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/frocks7.png);
                      "
                      href="/portfolio-item/frocks"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/frocks" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Frocks
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/logo-design" class="tag w-button">
                                Logo
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/branding" class="tag w-button">
                                Branding
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/event-branding" class="tag w-button">
                                Events
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/featured" class="tag w-button">
                                Featured
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Experimental logo &amp; brand identity concept for a
                        hypothetical boutique alterations shop.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">4</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/mpd-portfolio-memorial-competition-hero.png);
                      "
                      href="/portfolio-item/tower"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/tower" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Tower on The Hill
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/signage-environmental-design"
                                class="tag w-button"
                              >
                                Environmental
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/illustration" class="tag w-button">
                                Illustration
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Concept developed for a memorial design project.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">5</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/bench1.png);
                      "
                      href="/portfolio-item/bench"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/bench" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Viewing Bench
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/signage-environmental-design"
                                class="tag w-button"
                              >
                                Environmental
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/3d" class="tag w-button">3D</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Bench concept developed for a furniture design project.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">6</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/screen-shot-2022-12-18-at-3.16.16-pm.png);
                      "
                      href="/portfolio-item/dfm"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/dfm" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          DFM
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/branding" class="tag w-button">
                                Branding
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/logo-design" class="tag w-button">
                                Logo
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/event-branding" class="tag w-button">
                                Events
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Experimental logo &amp; brand identity redesign concept
                        for Dallas Farmer&#x27;s Market.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">7</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/screen-shot-2022-12-18-at-8.24.13-pm.png);
                      "
                      href="/portfolio-item/back-2-skool-misc"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/back-2-skool-misc"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Back 2 Skool Miscellany
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Personal/School Projects</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/illustration" class="tag w-button">
                                Illustration
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/typography" class="tag w-button">
                                Typography
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Odds &amp; ends from design coursework at UT Austin.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                role="navigation"
                aria-label="List"
                class="w-pagination-wrapper pagination"
              ></div>
            </div>
          </div>
          <div class="div-block-60">
            <div
              data-collapse="all"
              data-animation="default"
              data-duration="400"
              data-easing="ease"
              data-easing2="ease"
              role="banner"
              class="navigation w-nav"
            >
              <a href="/" class="link-block-17 w-inline-block">
                <div class="div-block-27">
                  <img
                    src="/assets/images/mpd-22-xtra-color.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 96vw, (max-width: 767px) 180px, (max-width: 991px) 26vw, 25vw"
                    srcset="
                      /assets/images/mpd-22-xtra-color-p-500.png 500w,
                      /assets/images/mpd-22-xtra-color-p-800.png 800w,
                      /assets/images/mpd-22-xtra-color.png       960w
                    "
                    class="image-17"
                  />
                  <img
                    src="/assets/images/mpd-logo-colorful-across-3.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, 100vw"
                    srcset="
                      /assets/images/mpd-logo-colorful-across-3-p-500.png   500w,
                      /assets/images/mpd-logo-colorful-across-3-p-800.png   800w,
                      /assets/images/mpd-logo-colorful-across-3-p-1080.png 1080w,
                      /assets/images/mpd-logo-colorful-across-3-p-1600.png 1600w,
                      /assets/images/mpd-logo-colorful-across-3-p-2000.png 2000w,
                      /assets/images/mpd-logo-colorful-across-3-p-2600.png 2600w,
                      /assets/images/mpd-logo-colorful-across-3-p-3200.png 3200w,
                      /assets/images/mpd-logo-colorful-across-3.png        3942w
                    "
                    class="image-23"
                  />
                </div>
              </a>
              <div class="big-nav-row across">
                <a href="/about" class="link-18 big-nav-link across">🎪 Info</a>
                <a href="/project-archive" class="link-18 big-nav-link across">
                  🎷 Project Archive
                </a>
                <a
                  href="https://mollypiercedesign.com/links/magazines"
                  class="link-18 big-nav-link across"
                >
                  🦄 Links
                </a>
                <a
                  href="/assets/files/molly-resume-only-designer-2023.pdf"
                  target="_blank"
                  class="link-18 big-nav-link across big-nav-link-white"
                >
                  🕷 CV
                </a>
                <a
                  href="mailto:mollympierce@gmail.com?subject=Message%20for%20Molly"
                  class="link-18 big-nav-link across big-nav-link-white"
                >
                  💌 Email
                </a>
                <a
                  href="https://www.linkedin.com/in/mollympierce/"
                  target="_blank"
                  class="link-18 big-nav-link across big-nav-link-white"
                >
                  💼 LinkedIn
                </a>
                <a
                  href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design#https://www.linkedin.com/in/molly-m-pierce-a8553535/"
                  class="wide-nav-line w-inline-block"
                ></a>
                <a
                  href="https://www.are.na/molly-pierce"
                  target="_blank"
                  class="wide-nav-line w-inline-block"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="latest-posts">
    <div class="container">
      <div class="section-title-text">Latest POSTS</div>
      <div class="posts-wrapper">
        <div class="posts-collection-list-wrapper w-dyn-list">
          <div role="list" class="posts-collection-list w-dyn-items w-row">
            <div
              role="listitem"
              class="_2-collection-item w-dyn-item w-col w-col-6"
            >
              <a
                href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                class="posts-image w-inline-block"
              >
                <img
                  alt=""
                  src="/assets/images/mpd-amst-booklet-00-30-55-384.jpeg"
                  sizes="100vw"
                  srcset="
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-500.jpeg   500w,
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-800.jpeg   800w,
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-1080.jpeg 1080w,
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-1600.jpeg 1600w,
                    /assets/images/mpd-amst-booklet-00-30-55-384.jpeg        1836w
                  "
                />
              </a>
              <div class="post-info-text">
                <a href="/category/portfolio" class="category-link">Text Link</a>
                <a
                  href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                  class="post-title w-inline-block"
                >
                  <h2 class="h3">Design Portfolio: Client Work</h2>
                </a>
                <div class="post-author-text cc-small-thumbnail">
                  <div class="post-author cc-top-margin">By</div>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="post-author"
                  >
                    Text Link
                  </a>
                </div>
              </div>
            </div>
            <div
              role="listitem"
              class="_2-collection-item w-dyn-item w-col w-col-6"
            >
              <a
                href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                aria-current="page"
                class="posts-image w-inline-block w--current"
              >
                <img
                  alt=""
                  src="/assets/images/14-6hrose.jpg"
                  sizes="100vw"
                  srcset="
                    /assets/images/14-6hrose-p-500.jpeg   500w,
                    /assets/images/14-6hrose-p-800.jpeg   800w,
                    /assets/images/14-6hrose-p-1080.jpeg 1080w,
                    /assets/images/14-6hrose-p-1600.jpeg 1600w,
                    /assets/images/14-6hrose.jpg         1920w
                  "
                />
              </a>
              <div class="post-info-text">
                <a href="/category/portfolio" class="category-link">Text Link</a>
                <a
                  href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                  aria-current="page"
                  class="post-title w-inline-block w--current"
                >
                  <h2 class="h3">
                    Back to School &#x27;21-&#x27;23: UT Austin BFA Design
                  </h2>
                </a>
                <div class="post-author-text cc-small-thumbnail">
                  <div class="post-author cc-top-margin">By</div>
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="post-author"
                  >
                    Text Link
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
