---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div class="title-section cc-detail">
    <div class="container">
      <h2 class="h2 cc-title-section">Heading</h2>
      <div class="posts-wrapper">
        <div class="posts-collection-list-wrapper w-dyn-list">
          <div class="w-dyn-empty"><div>No items found.</div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container-footer w-clearfix">
      <div class="container">
        <div class="top-section">
          <a href="/category/journal" class="logo cc-footer w-inline-block">
            <img
              src="/assets/images/molly-pierce-2021-logo-long.png"
              width="200"
              alt=""
              class="image-logo"
            />
          </a>
        </div>
      </div>
      <div class="separator-footer">
        <div class="separator-color footer-line"></div>
      </div>
      <div class="container">
        <div class="bottom">
          <div class="bottom-1">
            <div data-delay="0" data-hover="false" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div>Category</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="dropdown-link w-dyn-item">
                      <a
                        href="/category/journal"
                        aria-current="page"
                        class="dropdown-link-text w--current"
                      >
                        Journal
                      </a>
                    </div>
                    <div role="listitem" class="dropdown-link w-dyn-item">
                      <a href="/category/portfolio" class="dropdown-link-text">
                        Portfolio
                      </a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div class="footer-categories">
              <div class="footer-title-text">Categories</div>
              <div class="footer-links-container cc-categories">
                <div class="w-dyn-list">
                  <div role="list" class="collection-list w-dyn-items">
                    <div
                      role="listitem"
                      class="footer-collection-item w-dyn-item"
                    >
                      <a
                        href="/category/journal"
                        aria-current="page"
                        class="link-footer w--current"
                      >
                        Journal
                      </a>
                    </div>
                    <div
                      role="listitem"
                      class="footer-collection-item w-dyn-item"
                    >
                      <a href="/category/portfolio" class="link-footer">
                        Portfolio
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-newsletter">
              <div class="footer-title-text">Subscribe to newsletter</div>
              <div class="form-block w-form">
                <form
                  id="email-form"
                  name="email-form"
                  data-name="Email Form"
                  method="get"
                  class="form"
                  data-wf-page-id="61a6e1a9273f569868f8025a"
                  data-wf-element-id="190e697a-0bc0-0823-8fe0-3b7d324eaad1"
                >
                  <input
                    class="text-field w-input"
                    maxlength="256"
                    name="Email-3"
                    data-name="Email 3"
                    placeholder="Email address"
                    type="email"
                    id="Email-3"
                    required=""
                  />
                  <input
                    type="submit"
                    data-wait="Please wait..."
                    class="submit-button w-button"
                    value="Send"
                  />
                </form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-2">
            <div class="footer-links-container">
              <div class="footer-links">
                <div class="footer-title-text">Information</div>
                <div class="footer-links-inner">
                  <a href="/about" class="nav-link white">about</a>
                  <a
                    href="http://blog-b132a3.webflow.io/about#contact"
                    class="nav-link white"
                  >
                    contact
                  </a>
                  <a href="/category/journal" class="nav-link white">terms</a>
                </div>
              </div>
              <div class="footer-links">
                <div class="footer-title-text">follow us</div>
                <div class="footer-links-inner">
                  <a href="/category/journal" class="nav-link white">instagram</a>
                  <a href="/category/journal" class="nav-link white">facebook</a>
                  <a href="/category/journal" class="nav-link white">twitter</a>
                </div>
              </div>
              <div class="footer-links">
                <div class="footer-title-text">Template</div>
                <div class="footer-links-inner">
                  <a href="/image-license-info" class="nav-link white">
                    Image License Info
                  </a>
                  <a href="https://webflow.com/" class="nav-link white">
                    Powered by Webflow
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Fragment slot="footer">
  </Fragment>

</BaseLayout>
