---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = "Molly Pierce Design";
const description = "";
const bodyClass = "";
---
<BaseLayout
  title={title}
  description={description}
  bodyClass={bodyClass}
>
  <div>
    <div class="w-row">
      <div class="column-21 w-col w-col-9">
        <div class="column-25">
          <div>
            <a href="/project-archive" class="w-inline-block">
              <h1 class="header-line">Project Archive</h1>
            </a>
            <div class="tag-wrapper w-dyn-list">
              <div role="list" class="tag-list w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                  <a
                    href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                    class="button tag-3 w-button"
                  >
                    Personal/School Projects
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    aria-current="page"
                    class="button tag-3 w-button w--current"
                  >
                    Client Work
                  </a>
                </div>
              </div>
            </div>
            <div class="w-dyn-list">
              <div role="list" class="collection-list-23 w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/3d" class="tag w-button">3D</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/motion-graphics" class="tag w-button">
                    Motion Graphics
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/poster-design" class="tag w-button">Poster</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/typography" class="tag w-button">Typography</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/logo-design" class="tag w-button">Logo</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/branding" class="tag w-button">Branding</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/illustration" class="tag w-button">
                    Illustration
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a
                    href="/tags/signage-environmental-design"
                    class="tag w-button"
                  >
                    Environmental
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/newsletter-design" class="tag w-button">
                    Newsletter
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/editorial-design" class="tag w-button">
                    Editorial
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/print-design" class="tag w-button">Print</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/event-branding" class="tag w-button">Events</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/website-design" class="tag w-button">
                    Website Design
                  </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/web-design" class="tag w-button">Website</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/interviews" class="tag w-button">Interviews</a>
                </div>
                <div role="listitem" class="w-dyn-item">
                  <a href="/tags/featured" class="tag w-button">Featured</a>
                </div>
              </div>
            </div>
            <div class="w-dyn-list">
              <div role="list" class="collection-list-24 w-dyn-items">
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">3</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/img-1910.jpg);
                      "
                      href="/portfolio-item/waterstreet-restaurants"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/waterstreet-restaurants"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Waterstreet Restaurants
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/illustration" class="tag w-button">
                                Illustration
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/signage-environmental-design"
                                class="tag w-button"
                              >
                                Environmental
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/web-design" class="tag w-button">
                                Website
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Print work for Waterstreet Restaurants in Corpus Christi,
                        TX
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">8</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/mpd-ccso-see-it-live-05.jpeg);
                      "
                      href="/portfolio-item/corpus-christi-symphony-orchestra"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/corpus-christi-symphony-orchestra"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Corpus Christi Symphony Orchestra
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/editorial-design"
                                class="tag w-button"
                              >
                                Editorial
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/event-branding" class="tag w-button">
                                Events
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/web-design" class="tag w-button">
                                Website
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/signage-environmental-design"
                                class="tag w-button"
                              >
                                Environmental
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Design partnership with Corpus Christi Symphony Orchestra,
                        2014-2020. Featured season: See It Live! (2018-2019).
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">9</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/mpd-amst-booklet-00-30-55-384.jpeg);
                      "
                      href="/portfolio-item/amst-q4"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/amst-q4" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          AMST Quarterly
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a
                                href="/tags/editorial-design"
                                class="tag w-button"
                              >
                                Editorial
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Quarterly member newsletter for Art Museum of South Texas
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">11</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/mpd-artball-e1548633040168.png);
                      "
                      href="/portfolio-item/artball"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a href="/portfolio-item/artball" class="w-inline-block">
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          ARTBALL
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/event-branding" class="tag w-button">
                                Events
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/branding" class="tag w-button">
                                Branding
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Event branding for formal art gala.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">12</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/amst-kids-1.jpeg);
                      "
                      href="/portfolio-item/dorothy-hood-book"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/dorothy-hood-book"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Dorothy Hood Book
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/event-branding" class="tag w-button">
                                Events
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/web-design" class="tag w-button">
                                Website
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/interviews" class="tag w-button">
                                Interviews
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/featured" class="tag w-button">
                                Featured
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Children&#x27;s activity book, created for launch of
                        AMST&#x27;s permanent exhibit featuring incredible
                        paintings by artist Dorothy Hood.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">13</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/mpd-woolsey-website-3.jpg);
                      "
                      href="/portfolio-item/woolsey-woolsey"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/woolsey-woolsey"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Woolsey &amp; Woolsey
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/web-design" class="tag w-button">
                                Website
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Website design for small family-owned law group.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">14</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/img-5042-1536x1484.jpeg);
                      "
                      href="/portfolio-item/laguna-wealth-services"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/laguna-wealth-services"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Laguna Wealth Services
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Tri-fold pocket folder and a holiday card for a wealth
                        management agency.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div>
                    <div class="div-block-59">
                      <h1 class="heading-102">0</h1>
                      <h1 class="heading-102">15</h1>
                    </div>
                    <a
                      style="
                        background-image: url(https://mollypiercedesign.webflow.io/portfolio-categories/&quot;/assets/images/mpd-martha-7.png);
                      "
                      href="/portfolio-item/together-forward"
                      class="link-block-26 w-inline-block"
                    ></a>
                    <div class="projects-title-block">
                      <a
                        href="/portfolio-item/together-forward"
                        class="w-inline-block"
                      >
                        <h6
                          data-w-id="0a2557e5-3b2c-d42e-48c7-92b37933b571"
                          class="heading-107"
                        >
                          Together Forward
                        </h6>
                      </a>
                      <a
                        href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                        aria-current="page"
                        class="w-inline-block w--current"
                      >
                        <h6 class="heading-125">Client Work</h6>
                      </a>
                    </div>
                    <div class="div-block-56">
                      <div class="tag-block">
                        <div class="collection-list-wrapper-19 w-dyn-list">
                          <div role="list" class="collection-list-25 w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/branding" class="tag w-button">
                                Branding
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/logo-design" class="tag w-button">
                                Logo
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/print-design" class="tag w-button">
                                Print
                              </a>
                            </div>
                            <div role="listitem" class="w-dyn-item">
                              <a href="/tags/web-design" class="tag w-button">
                                Website
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="portfolio-caption">
                        Brand identity for a private Death Doula practice.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                role="navigation"
                aria-label="List"
                class="w-pagination-wrapper pagination"
              >
                <a
                  href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                  aria-label="Next Page"
                  class="w-pagination-next next-3"
                >
                  <div class="w-inline-block">NEXT</div>
                  <div class="text-block-10 w-inline-block">→</div>
                </a>
                <link
                  rel="prerender"
                  href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                />
              </div>
            </div>
          </div>
          <div class="div-block-60">
            <div
              data-collapse="all"
              data-animation="default"
              data-duration="400"
              data-easing="ease"
              data-easing2="ease"
              role="banner"
              class="navigation w-nav"
            >
              <a href="/" class="link-block-17 w-inline-block">
                <div class="div-block-27">
                  <img
                    src="/assets/images/mpd-22-xtra-color.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 96vw, (max-width: 767px) 180px, (max-width: 991px) 26vw, 25vw"
                    srcset="
                      /assets/images/mpd-22-xtra-color-p-500.png 500w,
                      /assets/images/mpd-22-xtra-color-p-800.png 800w,
                      /assets/images/mpd-22-xtra-color.png       960w
                    "
                    class="image-17"
                  />
                  <img
                    src="/assets/images/mpd-logo-colorful-across-3.png"
                    loading="lazy"
                    alt=""
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, 100vw"
                    srcset="
                      /assets/images/mpd-logo-colorful-across-3-p-500.png   500w,
                      /assets/images/mpd-logo-colorful-across-3-p-800.png   800w,
                      /assets/images/mpd-logo-colorful-across-3-p-1080.png 1080w,
                      /assets/images/mpd-logo-colorful-across-3-p-1600.png 1600w,
                      /assets/images/mpd-logo-colorful-across-3-p-2000.png 2000w,
                      /assets/images/mpd-logo-colorful-across-3-p-2600.png 2600w,
                      /assets/images/mpd-logo-colorful-across-3-p-3200.png 3200w,
                      /assets/images/mpd-logo-colorful-across-3.png        3942w
                    "
                    class="image-23"
                  />
                </div>
              </a>
              <div class="big-nav-row across">
                <a href="/about" class="link-18 big-nav-link across">🎪 Info</a>
                <a href="/project-archive" class="link-18 big-nav-link across">
                  🎷 Project Archive
                </a>
                <a
                  href="https://mollypiercedesign.com/links/magazines"
                  class="link-18 big-nav-link across"
                >
                  🦄 Links
                </a>
                <a
                  href="/assets/files/molly-resume-only-designer-2023.pdf"
                  target="_blank"
                  class="link-18 big-nav-link across big-nav-link-white"
                >
                  🕷 CV
                </a>
                <a
                  href="mailto:mollympierce@gmail.com?subject=Message%20for%20Molly"
                  class="link-18 big-nav-link across big-nav-link-white"
                >
                  💌 Email
                </a>
                <a
                  href="https://www.linkedin.com/in/mollympierce/"
                  target="_blank"
                  class="link-18 big-nav-link across big-nav-link-white"
                >
                  💼 LinkedIn
                </a>
                <a
                  href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022#https://www.linkedin.com/in/molly-m-pierce-a8553535/"
                  class="wide-nav-line w-inline-block"
                ></a>
                <a
                  href="https://www.are.na/molly-pierce"
                  target="_blank"
                  class="wide-nav-line w-inline-block"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="latest-posts">
    <div class="container">
      <div class="section-title-text">Latest POSTS</div>
      <div class="posts-wrapper">
        <div class="posts-collection-list-wrapper w-dyn-list">
          <div role="list" class="posts-collection-list w-dyn-items w-row">
            <div
              role="listitem"
              class="_2-collection-item w-dyn-item w-col w-col-6"
            >
              <a
                href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                aria-current="page"
                class="posts-image w-inline-block w--current"
              >
                <img
                  alt=""
                  src="/assets/images/mpd-amst-booklet-00-30-55-384.jpeg"
                  sizes="100vw"
                  srcset="
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-500.jpeg   500w,
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-800.jpeg   800w,
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-1080.jpeg 1080w,
                    /assets/images/mpd-amst-booklet-00-30-55-384-p-1600.jpeg 1600w,
                    /assets/images/mpd-amst-booklet-00-30-55-384.jpeg        1836w
                  "
                />
              </a>
              <div class="post-info-text">
                <a href="/category/portfolio" class="category-link">Text Link</a>
                <a
                  href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                  aria-current="page"
                  class="post-title w-inline-block w--current"
                >
                  <h2 class="h3">Design Portfolio: Client Work</h2>
                </a>
                <div class="post-author-text cc-small-thumbnail">
                  <div class="post-author cc-top-margin">By</div>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="post-author"
                  >
                    Text Link
                  </a>
                </div>
              </div>
            </div>
            <div
              role="listitem"
              class="_2-collection-item w-dyn-item w-col w-col-6"
            >
              <a
                href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                class="posts-image w-inline-block"
              >
                <img
                  alt=""
                  src="/assets/images/14-6hrose.jpg"
                  sizes="100vw"
                  srcset="
                    /assets/images/14-6hrose-p-500.jpeg   500w,
                    /assets/images/14-6hrose-p-800.jpeg   800w,
                    /assets/images/14-6hrose-p-1080.jpeg 1080w,
                    /assets/images/14-6hrose-p-1600.jpeg 1600w,
                    /assets/images/14-6hrose.jpg         1920w
                  "
                />
              </a>
              <div class="post-info-text">
                <a href="/category/portfolio" class="category-link">Text Link</a>
                <a
                  href="/portfolio-categories/back-to-school-22-23-class-projects-university-of-texas-at-austin-school-of-creative-technology-design"
                  class="post-title w-inline-block"
                >
                  <h2 class="h3">
                    Back to School &#x27;21-&#x27;23: UT Austin BFA Design
                  </h2>
                </a>
                <div class="post-author-text cc-small-thumbnail">
                  <div class="post-author cc-top-margin">By</div>
                  <a
                    href="/portfolio-categories/molly-pierce-design-freelance-projects-2014-2022"
                    class="post-author"
                  >
                    Text Link
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
